<div class="container">
  <mat-card class="header-card">
    <mat-card-header>
      <mat-card-title>
        <mat-icon svgIcon="controller" class="title-icon"></mat-icon>
        Minesweeper
      </mat-card-title>

      @if (gameState()) {
        <div class="header-actions">
          <button (click)="resetGame()" mat-stroked-button color="warn">New Game</button>
        </div>
      }
    </mat-card-header>
  </mat-card>

  @if (loading()) {
    <div class="loading-container">
      <mat-spinner diameter="50"></mat-spinner>
      <p>Generating world...</p>
    </div>
  } @else if (!gameState()) {
    <div class="selection-area">
      <app-difficulty-selector (gameRequest)="createGame($event)"></app-difficulty-selector>

      @if (errorMessage()) {
        <div class="error-msg">{{ errorMessage() }}</div>
      }
    </div>
  } @else if (gameState(); as game) {
    <mat-card class="game-area">
      <div class="stats-bar">
        <!-- Timer -->
        <div class="stat-item" title="Time Elapsed">
          <mat-icon svgIcon="timer"></mat-icon>
          {{ formattedTime() }}
        </div>

        <!-- Lives -->
        <div class="stat-item" title="Lives Remaining">
          <mat-icon svgIcon="lives"></mat-icon>
          {{ game.livesLeft }}
        </div>

        <!-- Total Mines -->
        <div class="stat-item" title="Mines Total">
          <mat-icon svgIcon="bomb"></mat-icon>
          {{ game.mineCount }}
        </div>

        <!-- Marks Left -->
        <div class="stat-item" title="Flags Remaining">
          <mat-icon svgIcon="flag"></mat-icon>
          {{ game.marksLeft }}
        </div>
      </div>

      <div
        class="board"
        [style.grid-template-columns]="'repeat(' + game.columns + ', 1fr)'"
        (contextmenu)="$event.preventDefault()"
      >
        @for (row of game.grid; track $index) {
          @for (cell of row; track cell.x + '-' + cell.y) {
            <div
              class="cell"
              [ngClass]="getCellClass(cell)"
              (click)="onLeftClick(cell)"
              (contextmenu)="onRightClick($event, cell)"
            >
              @if (isFlagged(cell)) {
                <mat-icon class="cell-icon flag" svgIcon="flag"></mat-icon>
              } @else if (showMineIcon(cell)) {
                <mat-icon class="cell-icon mine" svgIcon="mine"></mat-icon>
              } @else if (showNumber(cell)) {
                <span class="adj-count" [attr.data-count]="cell.adjacentMines">
                  {{ cell.adjacentMines }}
                </span>
              }
            </div>
          }
        }
      </div>
    </mat-card>
  }
</div>
