.diff-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  width: 100%;
}

.diff-card {
  cursor: pointer;
  position: relative;
  overflow: hidden;

  min-height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  border-radius: 12px;
  transition: transform 0.2s, box-shadow 0.2s;

  &:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  }


  mat-card-header {
    z-index: 2;
    padding: 24px;

    mat-card-title {
      font-size: 2rem;
      margin-bottom: 8px;
      font-weight: 500;
    }

    mat-card-subtitle {
      font-size: 1.1rem;
      opacity: 0.8;
    }
  }

  // The background icon
  .card-icon {
    position: absolute;
    bottom: -20px;
    right: -20px;
    z-index: 1;

    mat-icon {
      // Massive Icon
      transform: scale(5);
      width: 40px;
      height: 40px;
      opacity: 0.12;
      color: currentColor;
    }
  }

  &.easy { border-left: 8px solid #4caf50; }
  &.medium { border-left: 8px solid #2196f3; }
  &.hard { border-left: 8px solid #f44336; }
  &.custom { border-left: 8px solid #9c27b0; }
}

@media (max-width: 700px) {
  .diff-grid {
    grid-template-columns: 1fr;
  }
}
