.custom-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 0.5rem;
  min-width: 300px;
}

.row {
  display: flex;
  gap: 1rem;
}

.full-width {
  flex: 1;
}

mat-form-field {
  width: 100%;
}

.row-checkbox {
  margin-top: -0.5rem;
  margin-bottom: 0.5rem;
}
