.custom-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-top: 0.5rem;
  min-width: 300px;
}

.control-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.label-group {
  display: flex;
  flex-direction: column;

  .label {
    font-weight: 500;
    font-size: 1rem;

    color: var(--mat-sys-on-surface);
  }

  .sub-label {
    font-size: 0.75rem;

    color: var(--mat-sys-on-surface-variant);
  }
}

.stepper-group {
  display: flex;
  align-items: center;
  gap: 4px;

  background-color: var(--mat-sys-surface-container-high);
  border-radius: 24px;
  padding: 4px;
  border: 1px solid var(--mat-sys-outline-variant);

  .stepper-input {
    width: 100px;
    margin-bottom: 0;

    // Hide browser default arrows
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    input[type='number'] {
      appearance: textfield;
      text-align: center;
      font-weight: bold;

      color: var(--mat-sys-on-surface);
    }
  }

  button mat-icon {
    color: var(--mat-sys-on-surface-variant);
  }
}

.spacer {
  margin: 0.5rem 0;
}

.error-msg {
  color: var(--mat-sys-error);
  font-size: 0.75rem;
  margin-top: -1rem;
  text-align: right;
}

.row-checkbox {
  margin-top: 0.5rem;
}
