.custom-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-top: 0.5rem;
  min-width: 300px;
}

.control-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.label-group {
  display: flex;
  flex-direction: column;

  .label {
    font-weight: 500;
    font-size: 1rem;
  }

  .sub-label {
    font-size: 0.75rem;
    color: rgba(0, 0, 0, 0.54);
  }
}

.stepper-group {
  display: flex;
  align-items: center;
  gap: 4px;
  background-color: #f5f5f5;
  border-radius: 24px;
  padding: 4px;

  .stepper-input {
    width: 100px;
    margin-bottom: 0;

    // Override material density needed
    //::ng-deep .mat-mdc-form-field-subscript-wrapper {
    //  display: none;
    //}

    //::ng-deep .mat-mdc-text-field-wrapper {
    //  padding: 0 8px;
    //  background-color: transparent;
    //}

    // Hide browser default arrows
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    input[type='number'] {
      appearance: textfield;
      text-align: center;
      font-weight: bold;
    }
  }
}

.spacer {
  margin: 0.5rem 0;
}

.error-msg {
  color: #f44336;
  font-size: 0.75rem;
  margin-top: -1rem;
  text-align: right;
}

.row-checkbox {
  margin-top: 0.5rem;
}
