@use '@angular/material' as mat;

$light-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: (
      plain-family: Roboto,
    ),
    density: (
      scale: 0,
    ),
  )
);

$dark-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: (
      plain-family: Roboto,
    ),
    density: (
      scale: 0,
    ),
  )
);

html {
  @include mat.all-component-themes($light-theme);
  height: 100%;
}

body.dark-theme {
  @include mat.all-component-colors($dark-theme);
}

body {
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);

  font: var(--mat-sys-body-medium);

  margin: 0;
  height: 100%;

  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

/* --- Global Custom Helpers --- */
// While we migrate, we can define a helper for standard borders
:root {
  --border-color: #e0e0e0; // Default Light
}

body.dark-theme {
  --border-color: #444746; // Dark Mode equivalent
}
