@use '@angular/material' as mat;

// 1. Define the theme
html {
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );

  // Ensure the app takes up full height
  height: 100%;
}

// 2. Apply the theme variables to the body
body {
  // Color Scheme
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);

  // Typography
  font: var(--mat-sys-body-medium);
  // (This replaces the 'font-family: Roboto' line you had at the bottom)

  // Layout
  margin: 0;
  height: 100%;
}

/* Global styles go below here */
